{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js",
        ".pug"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          ".gitignore"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/isakov.mastervision.su/memory-capabilities",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1575383817218.2964,
          "date": "2020-01-14T12:57:38.011Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1575383829377.9153,
          "date": "2020-01-14T12:57:38.483Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1579019095926.7822,
          "ctimeMs": 1579019095926.7822,
          "date": "2020-01-14T16:25:04.056Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1579017767243.1272,
          "ctimeMs": 1579017767243.1272,
          "date": "2020-01-14T16:10:18.291Z"
        },
        {
          "file": "fonts/AvenirNextCyr.eot",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417732.7827,
          "date": "2020-01-14T12:57:39.986Z"
        },
        {
          "file": "fonts/AvenirNextCyr.svg",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417726.7798,
          "date": "2020-01-14T12:57:40.717Z"
        },
        {
          "file": "fonts/AvenirNextCyr.ttf",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417719.7747,
          "date": "2020-01-14T12:57:41.429Z"
        },
        {
          "file": "fonts/AvenirNextCyr.woff",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417729.782,
          "date": "2020-01-14T12:57:41.941Z"
        },
        {
          "file": "fonts/AvenirNextCyr.woff2",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417734.7832,
          "date": "2020-01-14T12:57:42.426Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.eot",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405410.7334,
          "date": "2020-01-14T12:57:43.003Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.svg",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405403.729,
          "date": "2020-01-14T12:57:43.680Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.ttf",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405397.7268,
          "date": "2020-01-14T12:57:44.199Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.woff",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405407.7341,
          "date": "2020-01-14T12:57:44.707Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.woff2",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405412.7363,
          "date": "2020-01-14T12:57:45.153Z"
        },
        {
          "file": "fonts/BloggerSans.eot",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478267.3164,
          "date": "2020-01-14T12:57:45.728Z"
        },
        {
          "file": "fonts/BloggerSans.svg",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478277.3235,
          "date": "2020-01-14T12:57:46.495Z"
        },
        {
          "file": "fonts/BloggerSans.ttf",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478281.327,
          "date": "2020-01-14T12:57:47.061Z"
        },
        {
          "file": "fonts/BloggerSans.woff",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478284.3281,
          "date": "2020-01-14T12:57:47.602Z"
        },
        {
          "file": "fonts/BloggerSans.woff2",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478287.3313,
          "date": "2020-01-14T12:57:48.177Z"
        },
        {
          "file": "fonts/BloggerSansBold.eot",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997433829.6921,
          "date": "2020-01-14T12:57:48.829Z"
        },
        {
          "file": "fonts/BloggerSansBold.svg",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997518770.4163,
          "date": "2020-01-14T12:57:49.726Z"
        },
        {
          "file": "fonts/BloggerSansBold.ttf",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997521200.5266,
          "date": "2020-01-14T12:57:50.306Z"
        },
        {
          "file": "fonts/BloggerSansBold.woff",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997527749.579,
          "date": "2020-01-14T12:57:50.881Z"
        },
        {
          "file": "fonts/BloggerSansBold.woff2",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997433832.693,
          "date": "2020-01-14T12:57:51.528Z"
        },
        {
          "file": "img/backs/last-bg.jpg",
          "mtimeMs": 1579002048393.3257,
          "ctimeMs": 1579002048522.477,
          "date": "2020-01-14T12:57:52.211Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1579002053893.7805,
          "ctimeMs": 1579002053893.7805,
          "date": "2020-01-14T12:57:52.865Z"
        },
        {
          "file": "img/images/author-img.png",
          "mtimeMs": 1579002206598.2856,
          "ctimeMs": 1579002206765.5693,
          "date": "2020-01-14T12:58:03.036Z"
        },
        {
          "file": "img/images/day-img-1.jpg",
          "mtimeMs": 1579002538500.268,
          "ctimeMs": 1579002538500.268,
          "date": "2020-01-14T12:58:03.857Z"
        },
        {
          "file": "img/images/day-img-2.jpg",
          "mtimeMs": 1579002543490.8699,
          "ctimeMs": 1579002543602.9937,
          "date": "2020-01-14T12:58:04.848Z"
        },
        {
          "file": "img/images/day-img-3.jpg",
          "mtimeMs": 1579002548609.6963,
          "ctimeMs": 1579002548609.6963,
          "date": "2020-01-14T12:58:05.751Z"
        },
        {
          "file": "img/images/for-img.jpg",
          "mtimeMs": 1579002211717.7385,
          "ctimeMs": 1579002211717.7385,
          "date": "2020-01-14T12:58:06.474Z"
        },
        {
          "file": "img/images/get-img-1.jpg",
          "mtimeMs": 1579002217661.5537,
          "ctimeMs": 1579002217661.5537,
          "date": "2020-01-14T12:58:07.028Z"
        },
        {
          "file": "img/images/get-img-2.jpg",
          "mtimeMs": 1579002223068.9858,
          "ctimeMs": 1579002223068.9858,
          "date": "2020-01-14T12:58:07.694Z"
        },
        {
          "file": "img/images/get-img-3.jpg",
          "mtimeMs": 1579002228818.6274,
          "ctimeMs": 1579002228818.6274,
          "date": "2020-01-14T12:58:08.255Z"
        },
        {
          "file": "img/images/get-img-4.jpg",
          "mtimeMs": 1579002237239.6194,
          "ctimeMs": 1579002237380.713,
          "date": "2020-01-14T12:58:08.844Z"
        },
        {
          "file": "img/images/get-img-5.jpg",
          "mtimeMs": 1579002243763.408,
          "ctimeMs": 1579002243763.408,
          "date": "2020-01-14T12:58:09.450Z"
        },
        {
          "file": "img/images/get-img-6.jpg",
          "mtimeMs": 1579002249515.7124,
          "ctimeMs": 1579002249562.5906,
          "date": "2020-01-14T12:58:10.081Z"
        },
        {
          "file": "img/images/ilya.jpg",
          "mtimeMs": 1579002254839.948,
          "ctimeMs": 1579002254839.948,
          "date": "2020-01-14T12:58:10.807Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1579018501558.0144,
          "ctimeMs": 1579018501558.0144,
          "date": "2020-01-14T16:15:04.595Z"
        },
        {
          "file": "1/index.html",
          "mtimeMs": 1579008846164.7659,
          "ctimeMs": 1579008846164.7659,
          "date": "2020-01-14T14:41:01.244Z"
        },
        {
          "file": "h/index.html",
          "mtimeMs": 1579008833131.7344,
          "ctimeMs": 1579008833131.7344,
          "date": "2020-01-14T14:41:01.913Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1579017976057.5337,
          "ctimeMs": 1579017976198.6262,
          "date": "2020-01-14T16:10:18.853Z"
        },
        {
          "file": "img/icons/for-icon-1.png",
          "mtimeMs": 1579018148859.5671,
          "ctimeMs": 1579018148859.5671,
          "date": "2020-01-14T16:10:19.607Z"
        },
        {
          "file": "img/icons/for-icon-10.png",
          "mtimeMs": 1579018210543.7444,
          "ctimeMs": 1579018210556.7517,
          "date": "2020-01-14T16:10:20.397Z"
        },
        {
          "file": "img/icons/for-icon-2.png",
          "mtimeMs": 1579018154513.0579,
          "ctimeMs": 1579018154513.0579,
          "date": "2020-01-14T16:10:21.516Z"
        },
        {
          "file": "img/icons/for-icon-3.png",
          "mtimeMs": 1579018161514.9836,
          "ctimeMs": 1579018161527.9924,
          "date": "2020-01-14T16:10:22.317Z"
        },
        {
          "file": "img/icons/for-icon-4.png",
          "mtimeMs": 1579018167998.041,
          "ctimeMs": 1579018167998.041,
          "date": "2020-01-14T16:10:23.039Z"
        },
        {
          "file": "img/icons/for-icon-5.png",
          "mtimeMs": 1579018175807.3684,
          "ctimeMs": 1579018175924.6052,
          "date": "2020-01-14T16:10:23.795Z"
        },
        {
          "file": "img/icons/for-icon-6.png",
          "mtimeMs": 1579018185224.9397,
          "ctimeMs": 1579018185361.0303,
          "date": "2020-01-14T16:10:24.530Z"
        },
        {
          "file": "img/icons/for-icon-7.png",
          "mtimeMs": 1579018191782.5078,
          "ctimeMs": 1579018191782.5078,
          "date": "2020-01-14T16:10:25.280Z"
        },
        {
          "file": "img/icons/for-icon-8.png",
          "mtimeMs": 1579018198227.2983,
          "ctimeMs": 1579018198227.2983,
          "date": "2020-01-14T16:10:26.013Z"
        },
        {
          "file": "img/icons/for-icon-9.png",
          "mtimeMs": 1579018204511.9143,
          "ctimeMs": 1579018204558.9468,
          "date": "2020-01-14T16:10:27.081Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1579017980466.992,
          "ctimeMs": 1579017980487.005,
          "date": "2020-01-14T16:10:27.957Z"
        },
        {
          "file": "img/icons/tube.png",
          "mtimeMs": 1579017985411.7544,
          "ctimeMs": 1579017985415.7566,
          "date": "2020-01-14T16:10:28.792Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1579017850397.5793,
          "ctimeMs": 1579017850397.5793,
          "date": "2020-01-14T16:10:29.614Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1579018856012.0845,
          "ctimeMs": 1579018856012.0845,
          "date": "2020-01-14T16:20:58.359Z"
        },
        {
          "file": "bots/index.html",
          "mtimeMs": 1579070595105.5505,
          "ctimeMs": 1579070595105.5505,
          "date": "2020-01-15T06:46:03.477Z"
        },
        {
          "file": "css/promo-ie.min.css",
          "mtimeMs": 1579091698622.7524,
          "ctimeMs": 1579091698622.7524,
          "date": "2020-01-15T12:35:05.277Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1579092016139.9175,
          "ctimeMs": 1579092016139.9175,
          "date": "2020-01-15T12:41:09.642Z"
        },
        {
          "file": "js/promo.min.js",
          "mtimeMs": 1579091749407.038,
          "ctimeMs": 1579091749407.038,
          "date": "2020-01-15T12:35:53.329Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1579089136622.6807,
          "ctimeMs": 1579089136622.6807,
          "date": "2020-01-15T12:02:15.953Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1579089507768.5486,
          "ctimeMs": 1579089507768.5486,
          "date": "2020-01-15T12:02:16.708Z"
        },
        {
          "file": "bonus/index.html",
          "mtimeMs": 1579090527888.3447,
          "ctimeMs": 1579090527888.3447,
          "date": "2020-01-15T12:25:48.147Z"
        },
        {
          "file": "css/bonus-ie.min.css",
          "mtimeMs": 1579091379555.9966,
          "ctimeMs": 1579091379555.9966,
          "date": "2020-01-15T12:30:51.522Z"
        },
        {
          "file": "css/bonus.min.css",
          "mtimeMs": 1579092065811.26,
          "ctimeMs": 1579092065811.26,
          "date": "2020-01-15T12:41:09.228Z"
        },
        {
          "file": "home-task-1/index.html",
          "mtimeMs": 1579090533983.2097,
          "ctimeMs": 1579090533983.2097,
          "date": "2020-01-15T12:25:49.333Z"
        },
        {
          "file": "home-task-2/index.html",
          "mtimeMs": 1579090534060.7617,
          "ctimeMs": 1579090534060.7617,
          "date": "2020-01-15T12:25:49.695Z"
        },
        {
          "file": "home-task-3/index.html",
          "mtimeMs": 1579090534085.2786,
          "ctimeMs": 1579090534085.2786,
          "date": "2020-01-15T12:25:50.033Z"
        },
        {
          "file": "img/flags.png",
          "mtimeMs": 1578323782889.2456,
          "ctimeMs": 1578323783046.7058,
          "date": "2020-01-15T12:02:12.253Z"
        },
        {
          "file": "img/flags@2x.png",
          "mtimeMs": 1578323788520.2798,
          "ctimeMs": 1578323788614.3718,
          "date": "2020-01-15T12:02:12.774Z"
        },
        {
          "file": "img/icons/ok.png",
          "mtimeMs": 1575136380486.6216,
          "ctimeMs": 1575136380486.6216,
          "date": "2020-01-15T12:02:13.242Z"
        },
        {
          "file": "img/icons/soc-buttons.jpg",
          "mtimeMs": 1579089241131.4524,
          "ctimeMs": 1579089241131.4524,
          "date": "2020-01-15T12:02:13.620Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1575136388342.6985,
          "ctimeMs": 1575136388342.6985,
          "date": "2020-01-15T12:02:13.970Z"
        },
        {
          "file": "img/icons/vk.png",
          "mtimeMs": 1575136393724.0266,
          "ctimeMs": 1575136393724.0266,
          "date": "2020-01-15T12:02:14.343Z"
        },
        {
          "file": "js/bonus.min.js",
          "mtimeMs": 1579091411664.119,
          "ctimeMs": 1579091411664.119,
          "date": "2020-01-15T12:30:52.663Z"
        },
        {
          "file": "js/thanks.min.js",
          "mtimeMs": 1579091880148.9165,
          "ctimeMs": 1579091880148.9165,
          "date": "2020-01-15T12:38:05.628Z"
        },
        {
          "file": "remind/index.html",
          "mtimeMs": 1579091092640.5923,
          "ctimeMs": 1579091092640.5923,
          "date": "2020-01-15T12:25:50.385Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": false
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/bonus.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\bonus.min.js"
        }
      },
      {
        "file": "_app/_js/promo.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\promo.min.js",
          "tasks": {
            "babel": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js",
          "tasks": {
            "babel": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/_js/thanks.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\thanks.min.js"
        }
      },
      {
        "file": "_app/bonus.pug",
        "config": {
          "customOutput": "bonus\\index.html"
        }
      },
      {
        "file": "_app/bots.pug",
        "config": {
          "customOutput": "bots\\index.html"
        }
      },
      {
        "file": "_app/home-task-1.pug",
        "config": {
          "customOutput": "home-task-1\\index.html"
        }
      },
      {
        "file": "_app/home-task-2.pug",
        "config": {
          "customOutput": "home-task-2\\index.html"
        }
      },
      {
        "file": "_app/home-task-3.pug",
        "config": {
          "customOutput": "home-task-3\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/pug/main/1.main.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/10.scripts.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/2.for.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/3.plan.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/4.get.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/5.author.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/6.last.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/7.footer.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/8.modal.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/9.politics.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/remind.pug",
        "config": {
          "customOutput": "remind\\index.html"
        }
      },
      {
        "file": "_app/styl/0.header.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/bonus-ie.min.styl",
        "config": {
          "customOutput": "css\\bonus-ie.min.css"
        }
      },
      {
        "file": "_app/styl/bonus.min.styl",
        "config": {
          "customOutput": "css\\bonus.min.css"
        }
      },
      {
        "file": "_app/styl/ie.min.styl",
        "config": {
          "customOutput": "css\\ie.min.css"
        }
      },
      {
        "file": "_app/styl/main/1.main.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/10.medias.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/2.for.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/3.plan.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/4.get.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/5.author.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/6.last.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/7.footer.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/8.modal.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/9.politics.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/promo-ie.min.styl",
        "config": {
          "customOutput": "css\\promo-ie.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "customOutput": "thanks\\index.html"
        }
      }
    ]
  }
}
