{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components",
          "/_app",
          ".gitignore",
          "README.md"
        ],
        "exceptions": [
          "_app/index.pug",
          "_app/styl/styles.min.styl",
          "_app/_js/scripts.js",
          "_app/pug/0.header.pug",
          "_app/pug/main/1.main.pug",
          "_app/pug/main/10.scripts.pug",
          "_app/pug/main/2.for.pug",
          "_app/pug/main/3.plan.pug",
          "_app/pug/main/4.get.pug",
          "_app/pug/main/5.author.pug",
          "_app/pug/main/6.last.pug",
          "_app/pug/main/7.footer.pug",
          "_app/pug/main/8.modal.pug",
          "_app/pug/main/9.politics.pug",
          "_app/styl/0.header.styl",
          "_app/styl/main/1.main.styl",
          "_app/styl/main/10.medias.styl",
          "_app/styl/main/2.for.styl",
          "_app/styl/main/3.plan.styl",
          "_app/styl/main/4.get.styl",
          "_app/styl/main/5.author.styl",
          "_app/styl/main/6.last.styl",
          "_app/styl/main/7.footer.styl",
          "_app/styl/main/8.modal.styl",
          "_app/styl/main/9.politics.styl"
        ]
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/isakov.mastervision.su/memory-capabilities",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1575383817218.2964,
          "date": "2020-01-14T12:57:38.011Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1575383829377.9153,
          "date": "2020-01-14T12:57:38.483Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1579006581953.6304,
          "ctimeMs": 1579006581953.6304,
          "date": "2020-01-14T12:57:38.969Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1579006980388.8967,
          "ctimeMs": 1579006980388.8967,
          "date": "2020-01-14T13:03:54.738Z"
        },
        {
          "file": "fonts/AvenirNextCyr.eot",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417732.7827,
          "date": "2020-01-14T12:57:39.986Z"
        },
        {
          "file": "fonts/AvenirNextCyr.svg",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417726.7798,
          "date": "2020-01-14T12:57:40.717Z"
        },
        {
          "file": "fonts/AvenirNextCyr.ttf",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417719.7747,
          "date": "2020-01-14T12:57:41.429Z"
        },
        {
          "file": "fonts/AvenirNextCyr.woff",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417729.782,
          "date": "2020-01-14T12:57:41.941Z"
        },
        {
          "file": "fonts/AvenirNextCyr.woff2",
          "mtimeMs": 1578979078000,
          "ctimeMs": 1578997417734.7832,
          "date": "2020-01-14T12:57:42.426Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.eot",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405410.7334,
          "date": "2020-01-14T12:57:43.003Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.svg",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405403.729,
          "date": "2020-01-14T12:57:43.680Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.ttf",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405397.7268,
          "date": "2020-01-14T12:57:44.199Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.woff",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405407.7341,
          "date": "2020-01-14T12:57:44.707Z"
        },
        {
          "file": "fonts/AvenirNextCyrBold.woff2",
          "mtimeMs": 1578979098000,
          "ctimeMs": 1578997405412.7363,
          "date": "2020-01-14T12:57:45.153Z"
        },
        {
          "file": "fonts/BloggerSans.eot",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478267.3164,
          "date": "2020-01-14T12:57:45.728Z"
        },
        {
          "file": "fonts/BloggerSans.svg",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478277.3235,
          "date": "2020-01-14T12:57:46.495Z"
        },
        {
          "file": "fonts/BloggerSans.ttf",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478281.327,
          "date": "2020-01-14T12:57:47.061Z"
        },
        {
          "file": "fonts/BloggerSans.woff",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478284.3281,
          "date": "2020-01-14T12:57:47.602Z"
        },
        {
          "file": "fonts/BloggerSans.woff2",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997478287.3313,
          "date": "2020-01-14T12:57:48.177Z"
        },
        {
          "file": "fonts/BloggerSansBold.eot",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997433829.6921,
          "date": "2020-01-14T12:57:48.829Z"
        },
        {
          "file": "fonts/BloggerSansBold.svg",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997518770.4163,
          "date": "2020-01-14T12:57:49.726Z"
        },
        {
          "file": "fonts/BloggerSansBold.ttf",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997521200.5266,
          "date": "2020-01-14T12:57:50.306Z"
        },
        {
          "file": "fonts/BloggerSansBold.woff",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997527749.579,
          "date": "2020-01-14T12:57:50.881Z"
        },
        {
          "file": "fonts/BloggerSansBold.woff2",
          "mtimeMs": 1578979352000,
          "ctimeMs": 1578997433832.693,
          "date": "2020-01-14T12:57:51.528Z"
        },
        {
          "file": "img/backs/last-bg.jpg",
          "mtimeMs": 1579002048393.3257,
          "ctimeMs": 1579002048522.477,
          "date": "2020-01-14T12:57:52.211Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1579002053893.7805,
          "ctimeMs": 1579002053893.7805,
          "date": "2020-01-14T12:57:52.865Z"
        },
        {
          "file": "img/icons/envelope.svg",
          "mtimeMs": 1578996013751.1726,
          "ctimeMs": 1579000793062.4268,
          "date": "2020-01-14T12:57:53.404Z"
        },
        {
          "file": "img/icons/for-icon-1.svg",
          "mtimeMs": 1578996009299.549,
          "ctimeMs": 1579000793064.426,
          "date": "2020-01-14T12:57:54.151Z"
        },
        {
          "file": "img/icons/for-icon-10.svg",
          "mtimeMs": 1578996012136.5095,
          "ctimeMs": 1579000793079.4363,
          "date": "2020-01-14T12:57:54.791Z"
        },
        {
          "file": "img/icons/for-icon-16.svg",
          "mtimeMs": 1578996010859.602,
          "ctimeMs": 1579000793081.4375,
          "date": "2020-01-14T12:57:55.407Z"
        },
        {
          "file": "img/icons/for-icon-2.svg",
          "mtimeMs": 1578996009830.902,
          "ctimeMs": 1579000793066.4275,
          "date": "2020-01-14T12:57:56.113Z"
        },
        {
          "file": "img/icons/for-icon-3.svg",
          "mtimeMs": 1578996009980.0005,
          "ctimeMs": 1579000793068.4287,
          "date": "2020-01-14T12:57:56.652Z"
        },
        {
          "file": "img/icons/for-icon-4.svg",
          "mtimeMs": 1578996010154.1167,
          "ctimeMs": 1579000793070.4302,
          "date": "2020-01-14T12:57:57.780Z"
        },
        {
          "file": "img/icons/for-icon-5.svg",
          "mtimeMs": 1578996010351.2478,
          "ctimeMs": 1579000793071.4314,
          "date": "2020-01-14T12:57:58.440Z"
        },
        {
          "file": "img/icons/for-icon-6.svg",
          "mtimeMs": 1578993095855.1907,
          "ctimeMs": 1579000793073.4324,
          "date": "2020-01-14T12:57:59.218Z"
        },
        {
          "file": "img/icons/for-icon-7.svg",
          "mtimeMs": 1578996011008.6992,
          "ctimeMs": 1579000793075.4336,
          "date": "2020-01-14T12:57:59.861Z"
        },
        {
          "file": "img/icons/for-icon-8.svg",
          "mtimeMs": 1578996011188.8179,
          "ctimeMs": 1579000793076.434,
          "date": "2020-01-14T12:58:00.348Z"
        },
        {
          "file": "img/icons/for-icon-9.svg",
          "mtimeMs": 1578996011390.9526,
          "ctimeMs": 1579000793078.4353,
          "date": "2020-01-14T12:58:00.847Z"
        },
        {
          "file": "img/icons/skype.svg",
          "mtimeMs": 1578996013651.1045,
          "ctimeMs": 1579000813612.4624,
          "date": "2020-01-14T12:58:01.381Z"
        },
        {
          "file": "img/icons/tube.svg",
          "mtimeMs": 1578996013556.0415,
          "ctimeMs": 1579000813614.4631,
          "date": "2020-01-14T12:58:02.123Z"
        },
        {
          "file": "img/images/author-img.png",
          "mtimeMs": 1579002206598.2856,
          "ctimeMs": 1579002206765.5693,
          "date": "2020-01-14T12:58:03.036Z"
        },
        {
          "file": "img/images/day-img-1.jpg",
          "mtimeMs": 1579002538500.268,
          "ctimeMs": 1579002538500.268,
          "date": "2020-01-14T12:58:03.857Z"
        },
        {
          "file": "img/images/day-img-2.jpg",
          "mtimeMs": 1579002543490.8699,
          "ctimeMs": 1579002543602.9937,
          "date": "2020-01-14T12:58:04.848Z"
        },
        {
          "file": "img/images/day-img-3.jpg",
          "mtimeMs": 1579002548609.6963,
          "ctimeMs": 1579002548609.6963,
          "date": "2020-01-14T12:58:05.751Z"
        },
        {
          "file": "img/images/for-img.jpg",
          "mtimeMs": 1579002211717.7385,
          "ctimeMs": 1579002211717.7385,
          "date": "2020-01-14T12:58:06.474Z"
        },
        {
          "file": "img/images/get-img-1.jpg",
          "mtimeMs": 1579002217661.5537,
          "ctimeMs": 1579002217661.5537,
          "date": "2020-01-14T12:58:07.028Z"
        },
        {
          "file": "img/images/get-img-2.jpg",
          "mtimeMs": 1579002223068.9858,
          "ctimeMs": 1579002223068.9858,
          "date": "2020-01-14T12:58:07.694Z"
        },
        {
          "file": "img/images/get-img-3.jpg",
          "mtimeMs": 1579002228818.6274,
          "ctimeMs": 1579002228818.6274,
          "date": "2020-01-14T12:58:08.255Z"
        },
        {
          "file": "img/images/get-img-4.jpg",
          "mtimeMs": 1579002237239.6194,
          "ctimeMs": 1579002237380.713,
          "date": "2020-01-14T12:58:08.844Z"
        },
        {
          "file": "img/images/get-img-5.jpg",
          "mtimeMs": 1579002243763.408,
          "ctimeMs": 1579002243763.408,
          "date": "2020-01-14T12:58:09.450Z"
        },
        {
          "file": "img/images/get-img-6.jpg",
          "mtimeMs": 1579002249515.7124,
          "ctimeMs": 1579002249562.5906,
          "date": "2020-01-14T12:58:10.081Z"
        },
        {
          "file": "img/images/ilya.jpg",
          "mtimeMs": 1579002254839.948,
          "ctimeMs": 1579002254839.948,
          "date": "2020-01-14T12:58:10.807Z"
        },
        {
          "file": "img/images/logo.svg",
          "mtimeMs": 1578996012385.6748,
          "ctimeMs": 1579000811197.5247,
          "date": "2020-01-14T12:58:11.555Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1579006962036.8318,
          "ctimeMs": 1579006962036.8318,
          "date": "2020-01-14T13:03:55.266Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": false
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/pug/main/1.main.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/10.scripts.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/2.for.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/3.plan.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/4.get.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/5.author.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/6.last.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/7.footer.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/8.modal.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/pug/main/9.politics.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/0.header.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/1.main.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/10.medias.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/2.for.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/3.plan.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/4.get.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/5.author.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/6.last.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/7.footer.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/8.modal.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/main/9.politics.styl",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
