#main
	padding 0 0 50px
	background-color: #050F3E
	background-image url(../img/backs/main-bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	text-align: center
.pre
	color #fff
	font-size: 16px
	font-family: BS
.pre-title
	font-size: 20px
	margin-bottom: 10px
	color #fff
	font-family: AB
	margin 30px 0 20px
.main-title
	font-size: 47px
	font-family: AB
	display inline
	line-height: 56px
	padding 5px 10px
	background-color: #D30A8B
	text-transform: uppercase
	color #fff
.main-info
	font-size: 23px
	line-height: 25px
	color #fff
	font-family: BS
	margin-top 40px
	span
		display: inline-block
		font-family: BSB
	&:last-of-type
		margin-bottom: 50px
.main-container
	margin 50px 0 0
	padding 20px
	background-color: rgba(255,255,255,.7)
	box-shadow: 0 0 10px 11px rgba(#b41287, .3)
.main-container-text
	font-size: 20px
	font-family: AB
	color #000000
	margin 0 0 15px
	text-transform uppercase