@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.technic-text
		height 180px
	.day
		padding 40px 550px 40px 40px
	.day-1
		background-position: center right -31%
	.day-2
		background-position: center right -70%
	.day-3
		background-position: center right -12%
@media screen and (max-width 1199px)
	header
		padding 10px 0
	.header-logo
		float: none
		display block
		margin 0 auto 3px
		width 100px
		height 44px
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 1.2
	#results .container
		background-size: 500px
	.results-list
		max-width 470px
	.for-item
		height 252px
	.technic-text
		height 171px
	.technic
		background-size: auto 200px
	.day
		padding 30px
		background-image: none
	.packet-body
		min-height 267px
	.author-list li
		margin-bottom: 10px
@media screen and (max-width 991px)
	header
		margin-bottom: 30px
	#results .container
		background-image: none
	.results-list
		max-width 100%
	.for-item
		height 240px
	.technic-text
		height 218px
	.packet-body
		min-height 336px
	.technic
		max-width 290px
	.technic-text
		height 217px
	.packet-body
		min-height 336px
	.packet
		margin-bottom: 25px
	.prepayment
		margin-top: 0
	.last-title
		font-size: 36px
	.last-text
		font-size: 26px
		margin 20px 0
@media screen and (max-width 767px)
	.packet-body
		min-height 1px
	.technic-text
		height 153px
@media screen and (max-width 485px)
	header
		margin-bottom: 20px
	.header-logo
		width 80px
		height 36px
	.contact
		font-size 12px
		line-height: 14px
		background-size: 16px
		padding-left: 16px
		margin-left: 5px
		&&-email
			background-size: 16px
			padding-left: 18px
			margin-left: 5px
	#main
		padding 0 0 30px
	.pre-title
		margin-top: 20px
	.main-title
		font-size: 36px
	.main-info
		line-height: 1.3
		margin-top: 20px
	.main-info:last-of-type
		margin-bottom: 30px
	.main-container
		margin-top: 30px
	.main-container-text
		font-size: 18px
		margin-bottom: 10px
	#results
		padding 30px 0
	.general-title
		font-size: 26px
		margin-bottom: 30px
	.results-list li
		font-size: 18px
		margin-bottom: 10px
	.for-item
		height auto
		padding-top: 130px
		margin-bottom: 20px
	.technic
		margin-bottom: 20px
	.technic-text
		height auto
	.day
		padding 20px
	.day-info-title
		font-size: 22px
	.day-aftertext
		font-size: 24px
		line-height: 1.2
		margin 40px 0 30px
	#technics
	#plan
		padding-bottom: 30px
	#prices
		padding 30px 0
	.packet-head-title
		font-size: 22px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 20px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.prepayment-title
	.timer-title
		font-size: 28px
	.prepayment-text
		margin 10px 0 15px
		font-size: 18px
	.author-img
		max-width 350px
		height 350px
		&:after
			height 200px
			width 250px
			right -50px
			bottom: 0
	.author-title
		font-size: 22px
		padding-right: 35px
		margin-bottom: 20px
	#author
	#records
		padding-bottom: 30px
	.record-title
		margin-bottom: 10px
	.record
		margin-bottom: 25px
	.records-text
		font-size: 20px
	#last
		padding 30px 0
	.last-title
		font-size: 28px
	.last-text
		font-size: 22px
		margin 15px 0
	.button
		font-size: 16px
		padding 0 10px
		height 70px
		line-height: 70px
	.button-cost .button
		line-height: 55px
		padding 0 10px
	footer
		padding 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	footer p
	.conditions
		font-size: 12px
@media screen and (max-width 385px)
	.main-title
		font-size: 26px
	.pre-title
		font-size: 18px
		margin: 20px 0 10px
	.main-info
		font-size: 20px
	.main-container
		padding 15px
	.main-container-text
		line-height: 1.3
	.general-title
		font-size: 24px
		span
			display: inline
	.day-info-title
		font-size: 20px
	.day-info-list-2
		margin-left: 20px
	.day-aftertext
		margin-top: 30px
		font-size: 22px
	.cost
		font-size: 22px
		span
			font-size: 28px
	.prepayment-title, .timer-title
		font-size: 26px
		line-height: 1.1
	.last-title
		font-size: 24px
	.last-text
		font-size: 18px