#records
	padding 0 0 50px
.record
	margin-bottom: 40px
	&-title
		text-align: center
		margin-bottom: 20px
		font-family: AB
		font-size: 20px
.video-wrapper-rec
	max-width 560px
	box-shadow: 0px 4px 5px 4px rgba(25, 24, 21, 0.1);
.record-text
	margin-top: 10px
.records-text
	font-size: 22px
	text-align: center
.button-records-sale
	margin-top:  40px