header
	padding 3px 0 5px
	overflow hidden
	margin-bottom: 50px
.header-logo
	float left
	width: 140px
	height 62px
	background-image url(../img/images/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
.contact
	display: inline-block
	line-height: 50px
	font-family: AB
	color: rgb(255, 255, 255);
	padding-left: 33px
	background-repeat no-repeat
	background-position: left center
	background-size: 31px
	margin-left: 10px
	&:focus
		color #fff
		text-decoration: none
	&:hover
		color #fff
		text-decoration: underline
	&&-tel
		background-image url(../img/icons/tube.png)
		&:first-of-type
			margin-left: 0
	&&-skype
		background-image url(../img/icons/skype.png)
	&&-email
		background-image url(../img/icons/envelope.png)
		padding-left: 37px
		background-size: 33px