.button
.general-title
.contact
.pre-title
.main-title
.main-container-text
.technic-text
.li-bonus
.day-info-list-2 li
.packet-head-title
.record-title
.last-title
footer h5
.close
	font-weight: 900
.pre
.main-info span
.day-info-title
.day-aftertext
.packet-body-title span
.packet-body-text
.cost span
.prepayment-title
.timer-title
.author-title
	font-weight: bold
.day-info-list-2 li span
.packet-head-title small
.more-button
	font-weight: normal