.button
.general-title
.contact
.main-title
.main-subtitle
.mail-container-title
.alert-message
.for-item-text span
.day-info-title
.li-bonus
.get-item-text
.author-title
.last-title
.close
.modal-title
	font-weight: bold
.modal-title small
	font-weight: normal
.main-info-text
	font-size: 20px