-var head_url = 'https://isakov.mastervision.su/memory-capabilities/course/';
-var head_title = '«Сверхпамять»';
-var head_description = 'Обучающий курс Ильи Исакова';
//- -var head_img = 'img/banner.jpg';
-var styles = '../css/course.min.css';
-var fav_ico = '../favicon.ico';
-var fav_png = '../favicon.png';

mixin b(cl,href,p,target,id)
	.button-wrapper
		a.button(class=cl href=href target=target id=id)=p

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/course/1.main.pug
		include pug/course/2.results.pug
		include pug/course/3.for.pug
		include pug/course/4.technicks.pug
		include pug/course/5.plan.pug
		include pug/course/6.prices.pug
		include pug/main/5.author.pug
		include pug/course/8.records.pug
		include pug/course/9.footer.pug
		include pug/course/10.scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts