#main
	padding 0 0 50px
	background-color: #050F3E
	background-image url(../img/backs/main-bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	text-align: center
	color: #fff
	&.bonus-main
		min-height calc(100vh - 149px)
.main-title
	font-size: 36px
	font-family: AB
	display inline
	padding 5px
	background-color: #D30A8B
	text-transform: uppercase
	color #fff
.main-subtitle
	font-size: 24px
	font-family: AB
	color #fff
	margin 10px 0 20px
.main-info
	font-size: 24px
	color #fff
	font-family: BS
	span
		display: inline-block
.video-wrapper-main
	max-width 650px
	margin 0 auto 20px
	box-shadow: 0 0 7px 5px rgba(255,245,215,0.1)
#main.remind
	min-height calc(100vh - 149px)
.remind-main-title
	margin: 60px 0 40px
	background-color: transparent
	padding 0
	font-size: 24px
	display block
	a
		color #fff
		text-shadow: 0px 1px 1px rgba(255,255,255,.8)
		display: inline
		border-bottom: 2px dotted
		&:focus
			color #fff
		&:hover
			border-bottom: 0
			text-decoration: none
			color #D30A8B
.remind-main-subtitle
	font-size: 24px
	font-family: BSB
	margin 0