@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header
		margin-bottom: 120px
	.main-subtitle
		margin 20px 0 30px
	.remind-main-title
		font-size: 28px
	.remind-main-subtitle
		font-size: 26px
@media screen and (max-width 1199px)
	header
		padding 10px 0
	.header-logo
		float: none
		display block
		margin 0 auto 3px
		width 100px
		height 44px
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 1.2
@media screen and (max-width 767px)
	#vk
		margin-bottom: 25px
	.remind-main-title
		margin-top: 0
@media screen and (max-width 485px)
	header
		margin-bottom: 20px
	.header-logo
		width 80px
		height 36px
	.contact
		font-size 12px
		line-height: 14px
		background-size: 16px
		padding-left: 16px
		margin-left: 5px
		&&-email
			background-size: 16px
			padding-left: 18px
			margin-left: 5px
	#main
		padding 0 0 40px
	.main-title
		font-size: 28px
	.main-subtitle
		font-size: 22px
		margin 5px 0 10px
	.main-info
		font-size: 22px
		line-height: 1.2
	#feedback
		padding 40px 0
	.general-title
		font-size: 22px
		margin-bottom: 30px
	.remind-main-title
		font-size: 20px
		margin-bottom: 20px
	.remind-main-subtitle
		margin 0
	footer
		padding 15px 0
		h5
			font-size: 18px
			line-height: 1.2
	.soc-buttons a
		margin 10px 5px 5px
	footer p
		font-size: 12px
@media screen and (max-width 385px)
	#main
		padding 0 0 30px
	.main-title
		font-size: 24px
	.main-subtitle
	.main-info
		font-size: 20px
	#feedback
		padding 30px 0
	.general-title
		font-size: 20px
	.remind-main-title
	.remind-main-subtitle
		font-size: 18px
	.remind-main-subtitle
		line-height: 1.2