section#for
	.container
		h3.general-title
			span Этот мастер-класс 
			| &nbsp;необходим тем, кто:
		.row
			.col-md-4.col-sm-4
				.for.for-1
					p.for-text
						span Жалуется 
						| на плохую память
			.col-md-4.col-sm-4
				.for.for-2
					p.for-text Всё время 
						span забывает 
						| имена
		.row
			.col-md-4.col-sm-4
				.for.for-3
					p.for-text Испытывает 
						span проблемы 
						| с изучением иностранного языка
			.col-md-4.col-sm-4
				.for.for-4
					p.for-text Считает, 
						span что раньше
						| память была лучше
		.row
			.col-md-4.col-sm-4
				.for.for-5
					p.for-text
						span Страдает 
						| от плохой концентрации и рассеянного внимания
			.col-md-4.col-sm-4
				.for.for-6
					p.for-text Уже очень давно
						span не тренировал мозги
			.col-md-4.col-sm-4
				.for.for-7
					p.for-text Чувствует, как день ото дня
						span ухудшается
						| память
		.row
			.col-md-4.col-sm-4
				.for.for-8
					p.for-text
						span Плохо успевает
						| в школе университете
			.col-md-4.col-sm-4
				.for.for-9
					p.for-text Ощущает навязчивое чувство, что 
						span тупеет
			.col-md-4.col-sm-4
				.for.for-10
					p.for-text
						span Не может освоить
						| новую специальность на 100%
		+b('','ПРОКАЧАТЬ ПАМЯТЬ')