section#for
	.container
		h3.general-title
			span Этот мастер-класс 
			| &nbsp;необходим тем, кто:
		.row
			.col-md-4.col-sm-4
				.for-item.for-item-1
					p.for-item-text
						span Жалуется 
						| на плохую память
			.col-md-4.col-sm-4
				.for-item.for-item-2
					p.for-item-text Всё время 
						span забывает 
						| имена
			.col-md-4.col-sm-4
		.row
			.col-md-4.col-sm-4
				.for-item.for-item-3
					p.for-item-text Испытывает 
						span проблемы 
						| с изучением иностранного языка
			.col-md-4.col-sm-4
				.for-item.for-item-4
					p.for-item-text Считает, 
						span что раньше 
						| память была лучше
			.col-md-4.col-sm-4
		.row
			.col-md-4.col-sm-4
				.for-item.for-item-5
					p.for-item-text
						span Страдает 
						| от плохой концентрации и рассеянного внимания
			.col-md-4.col-sm-4
				.for-item.for-item-6
					p.for-item-text Уже очень давно
						span не тренировал мозги
			.col-md-4.col-sm-4
				.for-item.for-item-7
					p.for-item-text Чувствует, как день ото дня
						span ухудшается 
						| память
		.row
			.col-md-4.col-sm-4
				.for-item.for-item-8
					p.for-item-text
						span Плохо успевает 
						| в школе университете
			.col-md-4.col-sm-4
				.for-item.for-item-9
					p.for-item-text Ощущает навязчивое чувство, что 
						span тупеет
			.col-md-4.col-sm-4
				.for-item.for-item-10
					p.for-item-text
						span Не может освоить 
						| новую специальность на 100%
		+b('','ПРОКАЧАТЬ ПАМЯТЬ')