section#plan
	.container
		h3.general-title
			span План 
			| &nbsp;мастер-класса
		.day.day-1
			.day-img.day-1-img
			.day-info
				h4.day-info-title День 1. Введение в мнемотехнику. Мнемотехника – скрытый потенциал вашей памяти
				ol.day-info-list
					li Вызовы, с которыми нам приходится сталкиваться в современном мире: цифровой «дебилизм», ухудшение памяти, цифровая зависимость, снижение внимания и концентрации, СДВГ, снижение креативности, огромные объёмы информации
					li Слабые стороны памяти
					li Сильные стороны памяти
					li Мнемотехника как проверенный способ использования скрытых возможностей памяти
					li Иностранные слова
						ul.day-info-innerlist
							li - Латинские слова
							li - Зачем нужен иностранный язык. Билингвизм
							li - Сколько времени уходит на изучение иностранного языка
					li.li-bonus Бонус: пальминг – эффективный способ перезарядиться, а также снять усталость с тела и глаз
		.day.day-2
			.day-img.day-2-img
			.day-info
				h4.day-info-title День 2. Мнемотехника в быту
				ol.day-info-list
					li Ухудшение памяти
						ul.day-info-innerlist
							li - Что влияет на ухудшение памяти
							li - Какие прогнозы
							li - Что происходит, когда мы доверяем калькулятору, записной книжке и т.д.
					li Метод локаций (Цицерона, Дворец памяти, Чертоги разума)
						ul.day-info-innerlist
							li - История появления: вспомните что-то и увидите, где это было
							li - Запоминание списка дел
							li - Запоминание списка покупок
							li - Запоминание ярких моментов из жизни
					li.li-bonus Бонус: метод Пифагора – простой способ улучшить память
		.day.day-3
			.day-img.day-3-img
			.day-info
				h4.day-info-title День 3. Мнемотехника – помощник в эффективном взаимодействии с людьми
				ol.day-info-list
					li Почему мы забываем имена людей
					li В чём особенность мозгов мнемонистов
					li Число Данбара – скольких людей мы помним
					li Основы запоминания имён людей
					li Сможете запомнить: новые сотрудники, коллеги, товарищи, знаменитые личности, одногруппники, прочее
					li.li-bonus Бонус: фингер-фитнес – эффективный способ активизировать мозг где угодно и когда угодно
		+b('','Мне это нужно')