mixin get(cl,p)
	.col-md-4.col-sm-4
		.get-item(class=cl)
			p.get-item-text=p

section#get
	.container
		h3.general-title
			span Что вы получите 
			| &nbsp;от данного мастер-класса:
		.row
			+get('get-1','Интенсивную прокачку мозга в течение всего МК')
			+get('get-2','Навыки, которые ускорят обучение в несколько раз')
			+get('get-3','Возможность запоминать в 2-3 раза больше информации, чем обычно')
		.row
			+get('get-4','Повышение своей креативности и интеллектуальной выносливости')
			+get('get-5','Простые лайфхаки, которые будут держать ваш мозг в тонусе')
			+get('get-6','Знания, дающие интеллектуальное превосходство')
		+b('','прокачать память')