section#main
	.container
		include ../0.header.pug
		p.pre записи мастер-класса - внизу страницы
		p.pre-title обучающий курс
		h1.main-title «Сверхпамять»
		p.main-info Старт курса: 
			span 13 февраля, в 19:00 (мск)
		p.main-info Автор курса: 
			span Илья Исаков
		+b('','#prices','Записаться')
		.main-container
			p.main-container-text «Прокачайте» свою память на максимум и ощутите вкус превосходства своих возможностей!
			p.main-container-text Удивите всех возможностями своей памяти!
			p.main-container-text В ногу с будущим: развивайте память, чтобы не отстать от других!