.modal.fade(tabindex="-1" role="dialog")#modal-1
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.day-info-title
						span Пакет «Бронза»
					ol.day-info-list
						li 1 день. Визуализация
						li 2 день. Дворцы памяти
						li 3 день. Два способа по запоминанию последовательностей, звуковые ассоциации
						li 4 день. Комбинирование навыков: «дворец памяти», звуковые ассоциации, последовательности. 4 принципа для освоения любого навыка
						li 5 день. Базовая техника по запоминанию чисел. Комбинирование навыков
						li 6 день. Методы для запоминания графической информации: лица, портреты, руны
					ul.day-info-list-2
						li
							span 7+-2. Постановка целей
						li
							span 23 минуты – правило изучения информации
						li
							span Внутренний взор, кривая Эббингауза: как запоминать информацию навсегда
						li
							span 4 принципа для освоения любого навыка
.modal.fade(tabindex="-1" role="dialog")#modal-2
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.day-info-title
						span Пакет «Серебро»
					ol.day-info-list
						li 1 день. Отработка навыка «звуковых ассоциаций». Сложные примеры
						li 2 день. Основная система для запоминания чисел. Тренировка внимания
						li 3 день. Продвинутый метод для запоминания последовательностей «Кадры». Расширение вариантов «дворцов памяти»
						li 4 день. Совмещение навыков. Отработка
						li 5 день. Методы для запоминания графической информации: иероглифы, карта мира, флаги, картины
						li 6 день. Отработка пройденных навыков, совмещение. Парадокс пекаря
					ul.day-info-list-2
						li
							span Квадрат компетенций – схема, которая рассказывает о разных уровнях владения информацией
						li
							span О важности внимания в запоминании. Внимание в быту
						li
							span Таблицы Шульте – тренировка внимания и концентрации
						li
							span «Муха» – тренировка внимания и концентрации
						li
							span n-назад – тренировка внимания и концентрации, а также оперативной памяти
						li
							span Метод Аристотеля – тренировка внимания и концентрации
.modal.fade(tabindex="-1" role="dialog")#modal-3
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.day-info-title
						span Пакет «Золото»
					ol.day-info-list
						li 1 день. Выдумывание собственных «дворцов памяти», отработка на материале
						li 2 день. Запоминание небольших текстов (дословно и приблизительно), запоминание стихотворений. Техника «Гиперссылка»
						li 3 день. Запоминание средних текстов, интеллект-карты
						li 4 день. Запоминание средних текстов, интеллект-карты, запоминание определений
					ul.day-info-list-2
						li
							span Правило Конан Дойля
						li
							span Точка О.кей
						li
							span О важности сложной работы для мозга
					ol.day-info-list.hide
						li.li-bonus Бонус: Бесплатная консультация 10 ученикам по итогам прохождения курса в рамках пакета «Золото» за качественное выполнение домашних заданий