section#results
	.container
		h3.general-title 
			span Результаты от курса 
			| &nbsp;потрясут вас не меньше, чем сам курс!
		ul.results-list
			li Ваша память будет лучше, чем у всех Ваших друзей и знакомых, которые начнут с Вас брать пример
			li Вы станете гуру по запоминанию
			li Будете легко осваивать новые навыки, новую специальность и даже сможете выгодно сменить место работы
			li Ваш авторитет в глазах других возрастёт в разы
			li Иностранные языки будут запоминаться проще и быстрее, что тоже откроет новые возможности на работе
			li Зная иностранные языки, сможете знакомиться с людьми из других стран и, возможности, найти за границей свою любовь
			li Сможете запоминать гораздо больше информации из прочитанных книг, просмотренных фильмов
			li Станете более интересным, разносторонним собеседником, что позволит обрести новые знакомства
			li Перестанете писать список перед походом в магазин и всегда помнить план на день
			li Повысите общий уровень компетенции, расширите кругозор, смените круг общения на более высокоинтеллектуальный
			li Вы забудете про неловкое молчание в беседах и сможете всегда выгодно производить впечатление на других людей
			li Станете более внимательным к пожеланиям своих близких людей, так как будете помнить все их особенности и потребности
			li Если вы тренер или коуч, то в своих тренингах сможете внедрить эти принципы эффективного запоминания и обучения, которые повысят эффективность ваших курсов