section#technics
	.container
		h3.general-title.general-title-technics
			span Техники, 
			| &nbsp;которые вы освоите на курсе
		.row
			.col-md-4.col-sm-4
				.technic.technic-1
					p.technic-text Локация – метод, развивающий пространственное мышление, структурирующий информацию
			.col-md-4.col-sm-4
				.technic.technic-2
					p.technic-text Методы запоминания графической информации
			.col-md-4.col-sm-4
				.technic.technic-3
					p.technic-text БЦК – основной приём для запоминания числовой информации
		.row
			.col-md-4.col-sm-4
				.technic.technic-4
					p.technic-text Методы кадров, «История», «Башня» для запоминания последовательностей
			.col-md-4.col-sm-4
				.technic.technic-5
					p.technic-text Метод звуковых ассоциаций – одна из основных техник для превращения информации в образ
			.col-md-4.col-sm-4
				.technic.technic-6
					p.technic-text Техника «Гиперссылка» – авторская методика по запоминанию необходимой информации об объекте
		.row
			.col-md-4.col-sm-4.col-md-offset-2.col-sm-offset-2
				.technic.technic-7
					p.technic-text Техника «Выдуманные дворцы памяти» – создание своих собственных «дворцов памяти» для запоминания любой информации
			.col-md-4.col-sm-4
				.technic.technic-8
					p.technic-text «Интеллект-карты» – графические схемы, позволяющий структурировать и запоминать информацию