section#records
	.container
		h3.general-title 
			span Записи 
			| &nbsp;мастер-класса
		.row
			.col-md-6.col-sm-6
				.record
					h4.record-title Запись мастер-класса от 05.02.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowfullscreen)
					p.record-text Занятие состоится 05.02.20, в 19:00(мск)
					p.record-text Запись занятия появтся здесь 06.02.20, после 13:00(мск)
			.col-md-6.col-sm-6
				.record
					h4.record-title.record-title-1 Запись мастер-класса от 06.02.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowfullscreen)
					p.record-text Занятие состоится 06.02.20, в 19:00(мск)
					p.record-text Запись занятия появтся здесь 07.02.20, после 13:00(мск)
		.row
			.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
				.record
					h4.record-title.record-title-2 Запись мастер-класса от 07.02.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowfullscreen)
					p.record-text Занятие состоится 07.02.20, в 19:00(мск)
					p.record-text Запись занятия появтся здесь 08.02.20, после 13:00(мск)
		p.records-text Записи занятий будут в свободном доступе до 11.02.20
		h3.general-title Записей мастер-класса более нет 
			span в свободном доступе
		p.records-text Но Вы можете приобрести их полные версии всего за 590р. и радоваться жизни вместе с теми, кто их уже смотрел
		+b('button-records-sale ','https://shop.mastervision.su/?r=ordering/cart/as1&id=4454&clean=true&lg=ru','Купить записи', '_blank')