section#last
	.container
		h3.last-title начните сейчас!
		p.last-text Десятки тысяч учеников доверяют нам и реализуют свои цели!
			br
			| вы можете достичь таких же результатов!
		+b('','#prices','Записаться')